@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-button: #ffbcec;
  --font-h1: 2rem;
  --font-h2: 1.5rem;
  --font-h2: 1.3rem;
  --font-p: 1rem;
  --font-button: 1.2;
  --color-heading: #000000;
  --color-text: #8b8b8b;
  --color-text-button: #000;
}

body {
  background: var(--color-background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: var(--font-h1);
}
h2 {
  font-size: var(--font-h2);
}
h3 {
  color: var(--color-heading);
  font-size: var(--font-h3);
}

button {
  font-size: var(--font-button);
  color: var(--color-text-button);
  background-color: var(--color-button);
}
button:hover {
  background-color: black;
  color: white;
}
